name: Publish to NPM

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: npm
          registry-url: "https://registry.npmjs.org"
      - name: Update npm
        run: npm install -g npm@latest
      - name: Setup
        run: ./setup.sh
      - name: Build SimplifySvgPath
        run: ./build.sh
      - name: Run tests
        run: |
          cd simplify-svg-path
          npm test
      - name: Publish packages
        run: |
          cd simplify-svg-path
          npm publish --provenance --access public
